<% include partials/head %>
<header>
<nav class="navbar navbar-expand-md navbar-dark " id="navStyle">
    
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
 <a class="navbar-brand" id="brandStyling" href="#">Cynthia Crafter | Software Developer</a>
 <div class="collapse navbar-collapse" id="nav-content">                
      <ul class="navbar-nav nav nav-pills justify-content-end">
          <% for (var i=0; i< pageNav.length;i++) {%>           
          <li class="nav-item"> 
              <a class="nav-link" href="<%= pageNav[i].Link%>"><%= pageNav[i].Text%></a>
          </li>
          <%}%>
      </ul>
 </div>
  </nav>
</header>

    <form action="/newpost" method="POST">
        <div>
            <label for="id">Permalink</label>
            <input type="text" id="id" name="id">
        </div>

        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName">
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
        </div>
        <div>
            <label for="pubDate">pubDate</label>
            <input type="date" id="pubDate" name="pubDate">
        </div>
        <div>
            <label for="content">Post Content</label>
            <textarea name="content" id="content" cols="60" rows="10"></textarea>
        </div>

        <button type="submit">Publish</button>
    </form>

    <% include partials/foot %>